.home-posts {
  display: grid;
  /* The inner min helps appropriate sizing on mobile */
  grid-template-columns: repeat(auto-fill, minmax(#{"min(350px, 100%)"}, 1fr));
  grid-gap: 15px;
}

.home-content {
  display: flex;

  @media screen and (max-width: 880px) {
    flex-direction: column;
  }
}

.home-sidebar {
  margin-left: 1em;

  &-card {
    border-top: 9px solid #000;
    border-bottom: 1px solid #ccc;
    margin: 0 16px 16px 0;

    box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
    padding: 20px;
    // padding: 1.25em 1.5em 1.5em;
    // margin-bottom: 1em;
    // background: #F5F5F5;
    // border-radius: 3px;
  }

  @media screen and (max-width: 880px) {
    margin: 0;
  }
}

.home-bio {
  &-image {
    display: block;
    margin-right: 0.5em;
    width: 250px;
    margin-bottom: 1em;
    height: auto;
  }

  &-text {
    margin: 0;
  }

  &-title-container {
    margin: 0 -20 0 -20;
    border-bottom: 1px solid #ccc;
  }

  &-title {
    text-transform: capitalize;
    font-size: 32px;

  }
}

.home-tags {
  justify-content: center;
}
