---
layout: layouts/main.njk
---
<main class="main-content">
  <div class="home-content">
    <div class="home-posts">
      {% for post in collections.posts %}
        <article class="preview">
            <a href="{{ post.url }}">
              <div class="preview-thumbnail-container">
              {% if post.data.thumbnail_image %}
                <img src="{{ post.data.thumbnail_image }}" class="preview-thumbnail" />
              {% elif post.data.feature_image %}
                <img src="{{ post.data.feature_image }}" class="preview-thumbnail" />
              {% endif %}
              </div>
            </a>
          <div class="preview-text">
            <div class="preview-meta">
              <time class="preview-date" datetime="{{ post.date | date('yyyy-MM-dd') }}">{{ post.date | date('MMMM d, yyyy') }}</time>
            </div>
            <h2 class="preview-title">
              <a href="{{ post.url }}">{{ post.data.title }}</a>
            </h2>
            <div class="preview-content">
              {% if post.data.description %}
                {{ post.data.description }}
              {% else %}
                {{ post.templateContent | safe | truncate(160) }}
              {% endif %}
            </div>
          </div><!-- .post-header -->
        </article><!-- .post -->
      {% endfor %}
    </div>
    <div class="home-sidebar">
      <div class="home-bio home-sidebar-card">
        <div class="home-bio-title-container">
          <h3 class="home-bio-title">About Dale</h3>
        </div>
        <img class="home-bio-image" src="/images/dale_wall_smaller.jpeg" width="100" height="100" />
        <p class="home-bio-text">
          <strong style="display: block; margin-bottom: 10px;">Generative AI DevRel Lead @ Google Labs.</strong>
          Dale is a coder, writer, maker, and napper at Google Labs. Here, she writes about Machine Learning for developers, AI in the world, and a whole lot more.
        </p>
      </div>

      <div class="home-tags home-sidebar-card">
        <h3 class="home-tags-title">Article Tags</h3>
        {% for tag in collections.tagList %}
          <a href="/tags#{{ tag }}" class="tag-block">{{ tag }}</a>
        {% endfor %}
      </div>

      <div class="home-subscribe home-sidebar-card">
        <h3 class="home-subscribe-title">Never miss an update</h3>
        <div class="subscribe">
          <form class="subscribe-form" action="https://getsimpleform.com/messages?form_api_token=9614d366a96deaef6923068dab84d7a4" method="post">
            <input type="hidden" name="redirect_to" value="{{ site.url }}/subscribed" />
            <!-- all your input fields here.... -->
            <input class="subscribe-input" type="text" name="Email" placeholder="you@email.com"/>
            <input class="subscribe-submit" type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </div>
</main><!-- .site-main -->
