<footer class="site-footer">
  <div class="footer-bottom">
    <div class="subscribe">
      <div class="subscribe-title">Never miss an update</div>
      <form class="subscribe-form" action="https://getsimpleform.com/messages?form_api_token=9614d366a96deaef6923068dab84d7a4" method="post">
        <!-- all your input fields here.... -->
        <input class="subscribe-input" type="text" name="Email" placeholder="you@email.com"/>
        <input class="subscribe-submit" type="submit" value="Submit" />
      </form>
    </div>
    <div class="site-info">
      {{ site.footer.content | markdownify }}
    </div><!-- .site-info -->
    <a href="#page" id="back-to-top" class="back-to-top"><span class="screen-reader-text">Back to the top </span>&#8593;</a>
  </div><!-- .footer-bottom -->
</footer><!-- .site-footer -->
