.home-content {
  display: flex;

  @media screen and (max-width: 880px) {
    flex-direction: column;
  }
}

.home-sidebar {
  margin-left: 1em;

  &-card {
    padding: 1.25em 1.5em 1.5em;
    margin-bottom: 1em;
    background: #F5F5F5;
    border-radius: 3px;
  }

  @media screen and (max-width: 880px) {
    margin: 0;
  }
}

.home-bio {
  &-image {
    display: block;
    margin-right: 0.5em;
    width: 250px;
    margin-bottom: 1em;
    height: auto;
    border-radius: 3%;
  }

  &-text {
    margin: 0;
  }
}

.home-tags {
  justify-content: center;
}
