.home-content {
  display: flex;

  @media screen and (max-width: 880px) {
    flex-direction: column;
  }
}

.home-sidebar {
  margin-left: 1em;

  @media screen and (max-width: 880px) {
    margin: 0;
  }
}

.home-tags {
  padding: 0 0.5em;
  justify-content: center;

  a {
    display: inline-block;
    font-size: 1em;
    margin: 0 0.5em 0.5em 0;
    color: _palette(secondary);
    padding: 0.25em 0.5em;
    border: 1px solid _palette(secondary);
    text-decoration: none;
    opacity: 0.6;

    &.active,
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}