.preview {
  margin-bottom: 3em;
}

.preview-thumbnail {
  position: relative;
  display: block;
  width: 100%;
}

.preview-title {
  font-size: 2.2em;
  font-weight: bold;
  //letter-spacing: 0.025em;

  a {
    color: _palette(secondary);
    text-decoration: none;

    &:hover {
      color: _palette(primary);
    }
  }
}

.preview-meta {
  display: flex;
  justify-content: space-between;
}
