.preview {
  display: flex;
  margin: -1em;
  margin-bottom: 3em;

  > * {
    margin: 1em;
  }
}

.preview-thumbnail {
  position: relative;
  display: block;
  width: 400px;
  height: 310px;
  background-size: cover;
  background-position: center;
  border: 4px solid _palette(primary);
}

.preview-title {
  font-size: 2.2em;
  font-weight: bold;
  //letter-spacing: 0.025em;

  a {
    color: _palette(secondary);
    text-decoration: none;

    &:hover {
      color: _palette(primary);
    }
  }
}

.preview-meta {
  display: flex;
  justify-content: space-between;
}
