/* ==========================================================================
   4. Site Header
   ========================================================================== */

.site-header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 1.5em 2em;
  margin-bottom: 4em;
  border-bottom: 1px solid rgba(_palette(primary), 0.25);
}

/* Shared */
.menu-item a,
.site-social a {
  color: _palette(primary);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* Title */
.site-title {
  margin: 0;
  margin-right: auto;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Social */
.site-social {
  display: flex;
  margin: -10px;
  margin-left: auto;

  a {
    margin: 10px;
    font-size: 1.25em;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Navigation */

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  display: inline-block;
  margin: 0 0 0 2em;
  font-family: _font(secondary);

  &:first-child {
    margin: 0;
  }

  a {
    display: inline-block;
    font-size: 24px;
    padding: 5px 0;
  }
}

.menu-toggle {
  display: none;
}

/* Site description */
.site-description {
  font-family: _font(secondary);
  font-size: 1.33333em;
  font-style: italic;
  padding-bottom: 3.33333rem;
  padding-top: 2.22222rem;

  @media only screen and (max-width: 600px) {
    font-size: 1.25em;
    padding-bottom: 2.8125rem;
    padding-top: 1.875rem;
  }

  p {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 800px) {
  #menu-open {
    display: block;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: auto;
  }

  #menu-close {
    display: block;
    position: absolute;
    right: 45px;
    top: 3.33333rem;
  }

  .site-navigation {
    -webkit-overflow-scrolling: touch;
    background: #fff;
    bottom: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: -1;
  }
  
  .site-navigation-wrap {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

  .menu {
    opacity: 0;
    padding: 7rem 45px 2.5rem;
  }

  .menu-item {
    border-bottom: 1px solid _palette(border);
    display: block;
    margin: 0;
    &:last-child {
      border: 0;
    }
    a {
      display: block;
      padding: 0.5rem 0;
    }
  }

  .menu--opened {
    .site {
      height: 100%;
      left: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 998;
    }

    .site-navigation {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      z-index: 999;
    }

    .menu {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 600px) {
  #menu-close {
    right: 35px;
    top: 2.8125rem;
  }

  .menu {
    padding: 6.375rem 35px 2.5rem;
  }
}