---
layout: default
---

<main class="main-content">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{ title }}</h1>
      {% if feature_image and feature_image != "" %}
      <figure class="post-thumbnail image-card width-wide">
        <img src="{{ feature_image }}" alt="{{ title }}">
      </figure><!-- .post-thumbnail -->
      {% endif %}
    </header><!-- .post-header -->
    <div class="post-content">
      {{ content }}
    </div><!-- .post-content -->
  </article><!-- .post -->
</main><!-- .site-main -->
