---
layout: default
---

<main class="main-content">

  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{ title }}</h1>
      <div class="post-meta">
        <span class="post-author">By {{ site.data.author.name }}</span>
        <span class="post-meta-divider">·</span>
        <time class="post-date" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | postDate }}</time>
      </div>

      {% if feature_image and feature_image != "" %}
      <figure class="post-image image-card width-wide">
        <img src="{{ feature_image }}" alt="{{ title }}">
      </figure>
      {% endif %}
    </header>

    <div class="post-content">
      {{ content }}
    </div><!-- .post-content -->

    {% if tags.size > 0 %}
    <div class="post-tags">
      <h3>Article Tags</h3>
      {% for tag in tags %}<a class="tag-block" href="/tags#{{ tag | cgi_escape }}" rel="tag">{{ tag }}</a>{% endfor %}
    </div>
    {% endif %}

    <div class="post-share">
      <h3>Share this Article</h3>
      {% if page.url %}
      <a class="tag-block"
        target="_blank"
        href="https://twitter.com/intent/tweet?text={{ title | url_encode }}&amp;url={{ site.url }}{{ page.url }}" rel="noopener">Twitter</a>
      <a class="tag-block"
        target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&amp;t={{ title | url_encode }}" rel="noopener">Facebook</a>
      {% endif %}
    </div><!-- .share-post -->

    {% if site.disqus %}
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = "{{ site.url }}{{ page.url }}";
        this.page.identifier = "{{ page.id }}";
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ site.disqus }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}

  </article><!-- .post -->

</main><!-- .main-content -->
